.Configure {
  padding: 8px; }
  .Configure-account {
    padding: 16px;
    padding-right: 72px;
    background-color: #37474f;
    display: flex;
    justify-content: space-between; }
    .Configure-account-verify {
      padding: 24px;
      max-width: 584px;
      width: 100%; }
    .Configure-account-manager {
      margin-right: 24px; }
      .Configure-account-manager-button {
        margin-bottom: 8px !important; }
      .Configure-account-manager-item {
        display: block !important;
        min-height: 24px !important; }
  .Configure-tasks {
    padding: 16px; }
    .Configure-tasks-group-card-button {
      margin-top: 24px !important;
      margin-left: 24px !important; }
    .Configure-tasks-group-card-list {
      height: 143px !important;
      overflow: auto !important; }
      .Configure-tasks-group-card-list-item {
        display: flex;
        margin-top: 10px;
        margin-left: 24px; }
    .Configure-tasks-group-card-dm {
      width: 400px !important; }
      .Configure-tasks-group-card-dm-text {
        margin-bottom: 8px !important; }
      .Configure-tasks-group-card-dm-button {
        margin-top: 8px; }

@media (max-width: 768px) {
  .Configure-account {
    display: block;
    padding-right: 16px; }
    .Configure-account .cards {
      justify-content: center; }
  .Configure-tasks-group {
    justify-content: center !important; } }
